h1,
h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
}

.main {
    border: 2px solid black;
    height: 80vh;
    width: 70%;
    margin: 10px auto;
    background-color: #91C8E4;
    border-radius: 30px;
}

.input {
    height: 10%;
    /* border: 0.1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#addItems {
    width: 40%;
    height: 30px;
    background-color: #cee7f4;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}
#addItems:hover{
    transform: scale(1.02);
}

#addButton {
    margin-left: 20px;
    font-size: 35px;
    cursor: pointer;
    /* background-color: red; */
    font-weight: 10;

}

.data {
    height: 85%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.items {
    background-color: #dc2044;
    width: 45%;
    height: 65vh;
    border-radius: 30px;
}


#incomplete,
#completed {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 78%;


    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
#incomplete::-webkit-scrollbar,
#completed::-webkit-scrollbar {
    display: none;
}


.workTodo {
    word-wrap: break-word;
    width: 30vh;
    margin: 10px;
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.work {
    word-wrap: break-word;
    height: 10%;
    width: 20vh;
    background-color: wheat;
    display: flex;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.icon {
    cursor: pointer;
    border-radius: 50px;
}

.icon:hover {
    transform: scale(1.1);
}

#addButton:hover {
    transform: scale(1.1);
}

hr {
    color: black;
}

.delIcon {
    color: red;
    float: left;
}

.doAllIcon {
    color: green;
    float: right;
}
.reDoIcon{
    color: #70A1D7;
}

.workTodo:hover{
    /* background-color: aliceblue; */
    transform: scale(1.02);
    background-color: rgba(245, 222, 179, 0.918);
}
